*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#f5f5f5;
}

.layout{

    display:grid;

    grid-template-columns:
        250px
        1fr;

    min-height:100vh;
}

.sidebar{

    background:#fff;

    border-right:1px solid #e5e5e5;

    display:flex;
    flex-direction:column;
}

.sidebar-header{

    padding:20px;

    display:flex;
    gap:10px;

    border-bottom:1px solid #eee;
}

.logo{
    width:40px;
}

.menu-item{

    display:flex;

    gap:10px;

    padding:14px 20px;

    cursor:pointer;
}

.active{

    background:#5D322B;
    color:white;
    border-radius:10px;
}

.content{

    padding:30px;
}

.pending-card{

    margin-top:20px;

    background:#fff4f1;

    border:1px solid #f2d5cf;

    border-radius:20px;

    padding:20px;
}

.pending-card button{

    width:100%;

    height:45px;

    margin-top:15px;

    border:none;

    border-radius:10px;

    background:#5D322B;

    color:white;
}

.payments-list{

    margin-top:20px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

.payment-item{

    background:white;

    border-radius:15px;

    padding:18px;

    display:flex;
    justify-content:space-between;
}

.payment-right{

    text-align:right;
}

.pago{
    color:green;
}

.pendente{
    color:red;
}

.logout{

    margin-top:auto;

    border:none;

    background:none;

    padding:20px;

    cursor:pointer;
}

@media(max-width:768px){

    .layout{

        grid-template-columns:1fr;
    }

    .sidebar{

        display:none;
    }

}