PORT=3333
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=troque-por-uma-chave-com-pelo-menos-32-caracteres
DATABASE_URL="sqlserver://localhost:1433;database=lbf_condominio;user=sa;password={LbfCondo!2026};encrypt=true;trustServerCertificate=true;schema=dbo"
DB_HOST=localhost
DB_PORT=1433
DB_NAME=lbf_condominio
DB_USER=sa
DB_PASSWORD="LbfCondo!2026"
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
